<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcom</title>
        <link rel="stylesheet" link="style.css">
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Poll Booth</h1>
        <p>Head over to the dashboard if you want to vote poll or see previous polls' results</p>
    </body>
</html>